body{
  font-size: 10px;
}

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 185, 216);
}

#id{
  /* background-color: rgb(33, 114, 184); */
  width: 200px;
  height: 200px;
}